<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>purr@fabbg.pyhvo</string>
	<key>contactName</key>
	<string>chee rabbits</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Six</string>
	<key>uuid</key>
	<string>CF890B14-45D6-46C1-BE06-16C92E4F38DD</string>
</dict>
</plist>
